 <section class="jumbotron text-center">
     <div class="container">
         <h1 class="jumbotron-heading">E-commerce</h1>
         <p class="lead text-muted">Nous sommes la pour vous !</p>
         <p>
             <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary my-2">se connecter</a>
             <a href="{{ path('fos_user_registration_register') }}" class="btn btn-secondary my-2">s'inscrire</a>
         </p>
     </div>
 </section>